<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.linxz.androidinterview">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--SDCard中创建与删除文件权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--向SDCard写入数据权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".launchMode.child.B_Activity">

        </activity>
        <activity android:name=".launchMode.child.A_Activity" />
        <activity android:name=".launchMode.child.SingTaskActivity" android:launchMode="singleInstance"/>
        <activity android:name=".touch_event.TouchEventActivity" />
        <activity android:name=".memory_check.MemoryLeakActivity" />
        <activity android:name=".memory_check.MemoryShakeActivity" />
        <activity android:name=".handler.HandlerActivity" />
        <activity android:name=".sync.MyAsyncTaskActivity" />
        <activity android:name=".service.MyIntentServiceActivity" />
        <activity android:name=".widget.WidgetActivity" >

        </activity>
        <activity android:name=".launchMode.SingInstanceActivity_3" />
        <activity
            android:name=".launchMode.SingInstanceActivity_2"
            android:launchMode="singleInstance" />
        <activity android:name=".launchMode.SingInstanceActivity_1" />
        <activity
            android:name=".launchMode.SingTaskActivityHome"
            android:launchMode="singleTask" />
        <activity android:name=".launchMode.SingTaskActivity_2" />
        <activity android:name=".launchMode.SingTaskActivity_1" />
        <activity
            android:name=".launchMode.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity android:name=".launchMode.LaunchModeTestMainActivity" />
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".service.ServiceTestMainActivity" />
        <activity android:name=".annotations.runtime.AnnotationTestActivity" />

        <service android:name=".service.IntentServiceA" />
        <service android:name=".service.IntentServiceB" />
        <service android:name=".service.MyIntentService" />

        <activity android:name=".layout_optimize.LayoutOptimizeActivity" />
        <activity
            android:name=".launchMode.child.SingleTopActivity_A"
            android:launchMode="singleTop" />

        <activity android:name="com.linxz.androidinterview.IPC.SocketIPCActivity">

        </activity>
        <activity android:name=".mvvm.ShareActivity">
        </activity>
        <activity android:name="com.linxz.androidinterview.fragmets.FragmentHomeActivity">
        </activity>
        <activity android:name=".activitys.LifecycleActivityHome">
        </activity>
        <activity android:name=".mvvm.DataBindingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>